

#workspaces{
  margin-top: 10px;
  margin-left: 10px;
  background-color: #141414;
  border-radius: 10px;
  border: 1px solid #edd28e;
}

#workspaces button {
  padding: 0px 5px;
  border-radius: 16px;
  color: grey;
}

#workspaces button.active {
  color: #edd28e;
  background-color: #171717;
  border-radius: 24px;
}

#clock {
  margin-top: 10px;
  margin-left: 10px;
  background-color: #141414;
  border-radius: 10px;
  border: 1px solid #edd28e;
  color: #edd28e;
  padding-left: 10px;
  padding-right: 10px;
}

#cpu{
  color: #edd28e;
  background: #141414;
  padding-right: 10px;
  border-radius: 10px;
  border: 1px solid #edd28e;
  margin-top: 10px;
  margin-right:10px;
  padding-left:7px;
}
#cpu.warning{
  color: orange;
  border: 1px solid orange;
}
#cpu.critical{
  color: #cc6132;
  border: 1px solid #cc6132;
}
#tray{
  color: #edd28e;
  background: #141414;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid #edd28e;
  padding-right: 10px;
  padding-left: 10px;
}
#battery{
  color: #edd28e;
  background-color: #141414;
  padding-right: 10px;
  border-radius: 10px;
  border: 1px solid #edd28e;
  margin-top: 10px;
  margin-right:10px;
  padding-right:15px;
  padding-left:7px;
}
#network{
  color: #edd28e;
  background-color: #141414;
  padding-right: 10px;
  border-radius: 10px;
  border: 1px solid #edd28e;
  margin-top: 10px;
  margin-right:10px;
  padding-right:10px;
  padding-left:5px;
}
#pulseaudio{
  color: #edd28e;
  background-color: #141414;
  padding-right: 10px;
  border-radius: 10px;
  border: 1px solid #edd28e;
  margin-top: 10px;
  margin-right:10px;
  padding-right:10px;
  padding-left:5px;
}
#backlight{
  color: #edd28e;
  background-color: #141414;
  padding-right: 10px;
  border-radius: 10px;
  border: 1px solid #edd28e;
  margin-top: 10px;
  margin-right:10px;
  padding-right:10px;
  padding-left:5px;
}
#cava{
  color: #edd28e;
  background-color: #141414;
  padding-right: 10px;
  border-radius: 10px;
  border: 1px solid #edd28e;
  margin-left: 10px;
  margin-top: 10px;
  padding-right:8px;
  padding-left:7px;
  min-width: 126px;
}
.custom-spotify {
  color: #edd28e;
  background-color: #141414;
  padding-right: 10px;
  border-radius: 10px;
  border: 1px solid #edd28e;
  margin-left: 0px;
  margin-top: 10px;
  padding-right:10px;
  padding-left:5px;
}
.custom-progress{
  color: #edd28e;
  background-color: #141414;
  padding-right: 10px;
  border-radius: 10px;
  border: 1px solid #edd28e;
  margin-left: 10px;
  margin-top: 10px;
  padding-right:10px;
  padding-left:5px;

}
.custom-powers{
  font-size: 40px;
  background-color: #141414;
  color: #edd28e;
  padding-right: 10px;
  border-radius: 10px;
  border: 1px solid #edd28e;
  margin-left: 10px;
  margin-top: 10px;
  padding-right:10px;

}
#waybar{
  background-color: transparent;
  font-family: "JetBrainsMono Nerd Font";
}
