/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #141414ED;
    background-alt: #282B31FF;
    foreground:     #edd28eFF;
    selected:       #AAAAAAAA;
    active:         #edd28eFF;
    urgent:         #cc6132FF;
}
